<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


  <bean id="newsProvider" class="com.yangtao.iocserviceprovider.bean.FXNewsProvider">
    <constructor-arg index="0" ref="newsListener"/>
    <constructor-arg index="1" ref="newsPersister"/>
  </bean>

  <bean id="newsListener" class="com.yangtao.iocserviceprovider.bean.FXNewsListener"/>
  <bean id="newsPersister" class="com.yangtao.iocserviceprovider.bean.FXNewsPersister"/>

</beans>